<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title><%= data?.headerContent?.pageTitleText %></title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/style.css" rel="stylesheet" />
</head>

<body x-data>
  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
      <a class="navbar-brand" href="#!"><%= data?.headerContent?.logoText %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <% for(let item in data?.navigationMenu) {%>
          <li class="nav-item"><a class="nav-link" href="<%= item?.linkUrl %>"><%= item?.linkText %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
          <div class="text-center my-5">
            <h1 class="display-5 fw-bolder text-white mb-2"><%= data?.headerContent?.mainAdvertiseText %></h1>
            <p class="lead text-white-50 mb-4"><%= data?.headerContent?.meinDescriptionText %></p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="
              <%= data?.headerContent?.leftButton?.linkUrl %>">
                <%= data?.headerContent?.leftButton?.linkText %></a>
              <a class="btn btn-outline-light btn-lg px-4" href="
              <%= data?.headerContent?.rightButton?.linkUrl %>">
                <%= data?.headerContent?.rightButton?.linkText %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
