<div class="col-lg-4">
    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi <%= featureData?.featureIconName %>"></i>
    </div>
    <h2 class="h4 fw-bolder"><%= featureData?.featureTitle %></h2>
    <p><%= featureData?.featureDescription %></p>
    <a class="text-decoration-none" href="<%= featureData?.callToActionLinkUrl %>">
        <%= featureData?.callToActionText %>
        <i class="bi bi-arrow-right"></i>
    </a>
</div>
